@page "/"

<PageTitle>Overview of machines in park</PageTitle>

@if (Machines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Machine Id</th>
                <th>Name</th>
                <th>Status</th>  
                <th>Location</th>  
                <th>Last update</th>
                <th>Last log</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in Machines)
            {
                <tr>
                    <td>@machine.MachineId</td>
                    <td>@machine.Name</td>
                    <td>
                        @(machine.IsOnline ?
                            (MarkupString)"<span class='badge bg-success'>Online</span>" :
                            (MarkupString)"<span class='badge bg-danger'>Offline</span>")

                        <button type="button" class="btn btn-outline-primary me-1" @onclick="@ChangeStatus">Change status</button>
                    </td>
                    <td>@machine.Location</td>
                    @if (machine.LatestData != null)
                    {
                        <td>@machine.LatestData.Time</td>
                        <td>@machine.LatestData.Data</td>
                    }else
                    {
                        <td></td>
                        <td></td>
                    }
                    <td>
                        <button type="button" class="btn btn-outline-primary me-1" @onclick="@SendData">Send data</button>
                        <button type="button" class="btn btn-outline-primary me-1" @onclick="@DeleteMachine">Send data</button>
                        <button type="button" class="btn btn-outline-primary me-1" @onclick="@UpdateMachine">Send data</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}