@page "/"
@rendermode InteractiveServer

<div class="container col-11">

<h3 class="mb-4">Overview</h3>

@if (Machines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Machine Id</th>
                <th>Name</th>
                <th>Status</th>  
                <th>Location</th>  
                <th>Last update</th>
                <th>Last log</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in Machines)
            {
                <tr>
                    <td>@machine.MachineId</td>
                    <td>@machine.Name</td>
                    <td>
                        @if (machine.IsOnline)
                        {
                            <span class="badge bg-success">Online</span>
                            <button 
                                type="button"
                                class="btn"
                                @onclick="() => ChangeStatus(machine)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-toggle-on" viewBox="0 0 16 16">
                                    <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8" />
                                </svg> 
                                @* <i class="bi bi-toggle-on" style="font-size: 24px;"></i>*@
                            </button>
                        }
                        else
                        {
                            <span class="badge bg-danger">Offline</span>
                            <button 
                                type="button"
                                class="btn"
                                @onclick="() => ChangeStatus(machine)">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-toggle-off" viewBox="0 0 16 16">
                                    <path d="M11 4a4 4 0 0 1 0 8H8a5 5 0 0 0 2-4 5 5 0 0 0-2-4zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8M0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5" />
                                </svg>
                                @*<i class="bi bi-toggle-off" style="font-size: 24px;"></i>*@
                            </button>
                        }
                    </td>
                    <td>@machine.Location</td>
                    @if (machine.LatestData != null)
                    {
                        <td>@machine.LatestData.Time</td>
                        <td>@machine.LatestData.Data</td>
                    }else
                    {
                        <td></td>
                        <td></td>
                    }
                    <td>
                        <NavLink class="btn me-1" href="@($"/sendmessage/{machine.MachineId}")">
                            <i class="bi bi-chat-right-dots-fill"></i>
                        </NavLink>
                        <button type="button" class="btn me-1" @onclick="() => DeleteMachine(machine)">
                            <i class="bi bi-trash3-fill"></i>
                        </button>
                        <NavLink class="btn me-1" href="@($"/editmachine/{machine.MachineId}")">
                            <i class="bi bi-pencil-fill"></i>
                        </NavLink>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
</div>
